// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block
body 
  line-height: 1
ol, ul 
  list-style: none
blockquote, q 
  quotes: none
blockquote:before, blockquote:after, q:before, q:after 
  content: ''
  content: none
table 
  border-collapse: collapse
  border-spacing: 0
// End of reset

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Quicksand:300,300i,700,700i')

body
  padding: 20px

main
  max-width: 600px
  margin: 0 auto
  padding-top: 100px

a
  color: black

article a
  text-decoration: none

h1, h2, h3, p, li, nav, time
  font-family: 'Quicksand', sans-serif
  font-size: 16px
  line-height: 28px
  font-weight: 300
  color: black

strong
  font-weight: 700

h1
  font-size: 22px
  line-height: 36px

h2
  font-size: 18px
  line-height: 28px

h3
  font-weight: 700

img 
  max-width: 100%

h1, h2, h3, p, img, blockquote
  margin-bottom: 20px

time
  font-size: 11px
  font-weight: 700
  float: right

ul
  list-style: square inside
  ul
    margin-left: 40px

article
  margin-bottom: 50px
  padding-bottom: 50px
  border-bottom: solid 1px #eee 

blockquote
  border-left: 5px solid black
  padding: 15px 0 15px 30px
  p
    font-family: 'Libre Baskerville', serif
    font-style: italic
    font-weight: 400
    font-size: 20px
    line-height: 40px
    margin: 0

.toc
  margin-bottom: 20px
  border: solid 1px
  padding: 40px
  a
    font-size: 14px
    text-decoration: none
  ul
    list-style: none

.more
  font-size: 12px

nav
  position: fixed
  img
    width: 60px